<table class ="ui fixed table">
    <thead>
    <tr>
        <th>Weight (kg)</th>
        <th>Chest (cm)</th>
        <th>Thigh (cm)</th>
        <th>Upper Arm (cm)</th>
        <th>Waist (cm)</th>
        <th>Hips (cm)</th>
        <th>Comment</th>
        <th>Feedback</th>

    </tr>
    </thead>
    <tbody>
    #{list items: _assessments, as: 'assessment'}
    <tr>
        <td>
        ${assessment.weight}
        </td>
        <td>
        ${assessment.chest}
        </td>
        <td>
        ${assessment.thigh}
        </td>
        <td>
        ${assessment.upperArm}
        </td>
        <td>
        ${assessment.waist}
        </td>
        <td>
        ${assessment.hips}
        </td>
        <td>
        ${assessment.comment}
        </td>
        <td>

            <form class="ui stacked segment form" action="/admintrainer/addcomment/${assessment.id}" method="POST">

                <div class=field">
                    <label>Comment</label>
                    <input placeholder=Comment" type="text" name="comment">
                </div>
                <button class ="ui blue submit button">Add Comment</button>
            </form>

            </a>
        </td>
    </tr>

    #{/list}
    </tbody>
</table>

