<div class="ui grid">

<div class = "eight wide column">

<form class="ui segment form" action="/dashboard/setFirstName" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Name</label>
            <input placeholder="Name" type="text" name="firstname">
        </div>
    </div>
    <button class="ui blue submit button">Set First Name</button>
</form>
</div>

<div class="eight wide column">
<form class="ui segment form" action="/dashboard/setLastName" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Name</label>
            <input placeholder="Name" type="text" name="lastname">
        </div>
    </div>
    <button class="ui blue submit button">Set Last Name</button>
</form>
</div>



    <div class="eight wide column">

<form class="ui segment form" action="/dashboard/setEmail" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Email</label>
            <input placeholder="email" type="text" name="email">
        </div>
    </div>
    <button class="ui blue submit button">Set email</button>
</form>
    </div>

    <div class="eight wide column">
<form class="ui  segment form" action="/dashboard/setPassword" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Password</label>
            <input placeholder="" type="text" name="password">
        </div>
    </div>
    <button class="ui blue submit button">Set Password</button>
</form>
    </div>

    <div class="eight wide column">
<form class="ui  segment form" action="/dashboard/setHeight" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Height</label>
            <input placeholder="" type="text" name="height">
        </div>
    </div>
    <button class="ui blue submit button">Set Height</button>
</form>
    </div>

    <div class="eight wide column">
<form class="ui segment form" action="/dashboard/setStartWeight" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Starting Weight</label>
            <input placeholder="Starting Weight" type="text" name="startWeight">
        </div>
    </div>
    <button class="ui blue submit button">Starting Weight</button>
</form>
    </div>
    <div class="eight wide column">

<form class="ui segment form" action="/dashboard/setGender" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Gender</label>
            <input placeholder="Gender (M or F) " type="text" name="gender">
        </div>
    </div>
    <button class="ui blue submit button">Gender</button>
</form>
    </div>

</div>
